/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @font-face {
    font-family: "SpiritsSharp";
    src: url("../Assets/Fonts/SpiritsSharp-Regular.otf");
}

@font-face {
  font-family: "Gotham";
  src: url("../Assets/Fonts/Gotham-Light.otf");
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 4px;
  }
  nav img {
    height: 48px;
  }
  nav ul li {
    text-align: center;
  }
}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

