

<!-- Background Image (Set to very back using z-[-1]) -->
<div class="background-image">
    <img src="/img/who/camara.jpeg" class="w-full h-screen object-cover" alt="Background Image">
</div>

<div class="about-us-container grid grid-cols-1 md:grid-cols-2 p-2 mb-8">
    <!-- Team Member 1 -->
    <div class="team-member text-center">
        <img src="/img/who/andres.jpg" alt="Team Member 1" class="mx-auto w-40 h-40 rounded-full object-cover shadow-lg">
        <h3 class="text-lg font-bold">Andrés Gese</h3>
        <p class="text-gray-400">Co-Fundador y Realizador</p>
    </div>

    <!-- Team Member 2 -->
    <div class="team-member text-center">
        <img src="/img/who/mario.jpg" alt="Team Member 2" class="mx-auto w-40 h-40 rounded-full object-cover shadow-lg">
        <h3 class="text-lg font-bold">Mario Martín</h3>
        <p class="text-gray-400">Co-Fundador y Productor</p>
        
    </div>
</div>

<div class="text-justify">

    <b class="font-extrabold">Órdago Films</b> nace de la mano de Andrés Gese y Mario Martín, dos amigos con un proyecto en común.
    Apostamos por <b class="font-extrabold">respetar la visión del cliente</b>, por analizar referencias, por <b class="font-extrabold">innovar</b>, por la <b class="font-extrabold">artesanía</b>, por la <b class="font-extrabold">cercanía</b>.<br>

    Trabajamos de forma independiente y con otros profesionales del sector audiovisual para <b class="font-extrabold">adaptarnos a las necesidades de cada proyecto</b>.

</div>

<div class="text-center mt-4">
    <b class="custom-text">Apostamos por hacer cine.</b>
</div>

<style>
    .custom-text {
        font-size: 1.5rem;
        align-items: center;
        text-align: center !important;
        font-weight: 900;
    }
</style>
