<div class="text-center">

    <b class="font-bold">Órdago Films</b> nace de la mano de Andrés Geese y Mario Martín, dos amigos con un proyecto en común.<br>

    Apostamos por respetar la visión del cliente, por analizar referencias, por innovar, por la artesanía, por la cercanía.<br>

    <b class="font-bold">Apostamos por hacer cine.</b><br><br>
    Trabajamos de forma independiente y con otros profesionales del sector audiovisual para adptarnos a las necesidades de cada proyecto.
</div>

<!-- Background Image (Set to very back using z-[-1]) -->
<div class="background-image">
    <img src="/img/who/camara.jpeg" class="w-full h-screen object-cover" alt="Background Image">
</div>

<div class="about-us-container grid grid-cols-1 md:grid-cols-2 gap-8 p-8">
    <!-- Team Member 1 -->
    <div class="team-member text-center">
        <img src="/img/who/andres.jpg" alt="Team Member 1" class="mx-auto w-40 h-40 rounded-full object-cover shadow-lg">
        <h3 class="mt-4 text-lg font-bold">Andrés Geese</h3>
        <p class="text-gray-400">Co-Fundador y Realizador</p>
        
    </div>

    <!-- Team Member 2 -->
    <div class="team-member text-center">
        <img src="/img/who/mario.jpg" alt="Team Member 2" class="mx-auto w-40 h-40 rounded-full object-cover shadow-lg">
        <h3 class="mt-4 text-lg font-bold">Mario Martín</h3>
        <p class="text-gray-400">Co-Fundador y Productor</p>
        
    </div>
</div>
