{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{ end }}

{{ define "main" }}
<div class="mx-auto my-20 pt-4 max-w-6xl">
  <div class="mx-3 col-span-3 lg:col-span-2 px-2">
    <h1 class="title text-5xl mb-4 text-center">{{.Title}}</h1>
    <div class="content prose md:prose-lg lg:prose-xl max-w-none py-1">{{.Content}}</div>
    
    <!-- Credits Section -->
    {{ with .Params.credits }}
    <div class="credits mt-2 container mx-auto px-4">
      <!-- Conditional grid layout for credits -->
      {{ $creditsCount := len . }}
      <div class="grid gap-6 max-w-4xl mx-auto
                  {{ if eq $creditsCount 1 }}grid-cols-1
                  {{ else if eq $creditsCount 2 }}grid-cols-2
                  {{ else }}grid-cols-3{{ end }}">
        {{ range . }}
        <div class="credit-item text-center p-4">
          <p class="font-bold text-lg text-white">{{ .role }}</p>
          <p class="text-sm text-gray-300">
            {{ range .people }}
              {{ . }}<br>
            {{ end }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}




